*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(22, 21, 21);
}

.search-box{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    position: relative;
    
}

input {
    width: 45rem;
    height: 3rem;
    border: none;
    outline: none;
    font-size: x-large;
    padding-left: 1rem;
    background-color: rgb(241, 226, 220);
    border-radius: 10px 0px 0px 10px;
}

button {
    width: 10rem;
    height: 3rem;
    font-size: x-large;
    border: none;
    cursor: pointer;
    background-color: rgb(241, 153, 38);
    border-radius: 0px 10px 10px 0px;
}



.movie-image{
    height: 400px;
    width: 300px;
    background-color: rgb(241, 153, 38);
}

.movie-image img{
    height: 100%;
    width: 100%;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.movie-card{
    width: 270px;
    border: 2px solid rgb(241, 153, 38);
    overflow: hidden;
    background-color: rgb(241, 153, 38);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 5rem;
    margin-left: 5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.title{
    margin-top: 0.5rem;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.block-card {
    height: 5rem;
    width: 45.8rem;
    display: flex;
    border: 1px solid white;
    color: aliceblue;
    overflow: hidden;
    background-color: rgb(32, 32, 31);
    font-size: x-large;
    cursor: pointer;
}

.block-title{
    padding-top: 0.7rem;
    padding-left: 1.5rem;
    font-weight: bold;
}

.block-card:hover{
    background-color: rgb(241, 153, 38);
    border: 1px solid rgb(241, 153, 38);
    color: black;
    .date{
        color: aliceblue;
    }
}

.block-card:active{
    background-color: rgb(253, 148, 10);
    border: 1px solid rgb(241, 153, 38);
    color: rgb(105, 105, 105);
    .date{
        color: aliceblue;
    }
}

#blocks {
    position: absolute;
    z-index: 9999;
}

.movie-card:hover{
    opacity: 90%;
    transform: scale(1.05);
    background-color: rgb(221, 221, 221);
    border: 2px solid rgb(221, 221, 221);
    box-shadow: 0 10px 25px rgba(243, 243, 243, 0.6);
}

.movie-card:active{
    opacity: 85%;
    transform: scale(1.03);
    background-color: rgb(215, 215, 215);
    border: 2px solid rgb(215, 215, 215);
    box-shadow: 0 12px 27px rgba(243, 243, 243, 0.6);
}

.date {
    font-size: 0.9rem;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0.5rem;
    color: rgb(187, 187, 187);
}




